@import "tailwindcss";

@theme {
  --color-primary: #E43D12;
  --color-secondary: #D6536D;
  --color-accent: #FFA2B6;
  --color-warning: #EFB11D;
  --color-background: #EBE9E1;
}

:root {
  --color-primary: #E43D12;
  --color-secondary: #D6536D;
  --color-accent: #FFA2B6;
  --color-warning: #EFB11D;
  --color-background: #EBE9E1;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: #3d3d3d;
  background: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

p {
  margin: 0;
}